<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> Task 1</key>
	<dict>
		<key>name</key>
		<string>Some Task</string>
		<key>timeUntilEnd</key>
		<string>5 minutes</string>
	</dict>
</dict>
</plist>
